/* ---------- Color Module Styles ----------- */

article {
  color: #656565;
}

button.button {
  --bs-btn-bg: #989898;
  background-color: #989898;
  border-color: #989898;
  color: #7951A8;
}

.form-control {
  background-color: #656565;
  color: #232323;
}

div.site-name-slogan {
  color: #989898;
  font-size: xx-large;
}

em, a.username {
  color: #7951A8;
}

#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
  background: #232323;}

.tabs ul.primary li a.is-active {
  background-color: #656565;
}

.tabs ul.primary li.is-active a {
  background-color: #656565;
  border-bottom-color: #656565;
}

#navbar-top {
  background-color: #232323;
}

#navbar-main {
  background-color: #69369E;
}

a,
.link {
  color: #989898;
}

a:hover,
a:focus,
button.button:hover,
button.button:focus,
a.nav-link:hover,
a.nav-link:focus,
.link:hover,
.link:focus {
  color: #989898;
}
.nav-item .dropdown-item a.active {
  color: white;
}
.nav-link {
  color: rgb(231, 231, 231);
}
.nav-link:hover,
.nav-link:focus {
  color: rgb(231, 231, 231);
}
a:active,
.link:active {
  color: #989898;
}

.page-item.active .page-link {
  background-color: #0071b3;
  border-color: #0071b3;
}

.page-link,
.page-link:hover {
  color: #0071b3;
}

.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #232323;
}

.site-footer {
  background: #232323;
}

.region-header,
.region-header a,
.region-header li a.is-active,
.region-header .site-branding__text,
.region-header .site-branding,
.region-header .site-branding__text a,
.region-header .site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
  color: #656565;
}


/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
  margin-left: 0;
  margin-right: 20px;
}

[dir="rtl"] .color-form .form-item label {
  float: right;
}

[dir="rtl"] .color-form .color-palette .lock {
  right: -20px;
  left: 0;
}
